<div class="container">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <h2>Users search for "<%= @value %>"</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Introduction</th>
        </tr>
      </thead>
      <% @datas.each do |user| %>
        <tbody>
          <tr>
            <th><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %></th>
            <th><%= user.nickname %></th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      <% end %>
    </table>
    <% elsif @model == "post" %>
    <h2>Posts search for "<%= @value %>"</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>content</th>
          <th>image</th>
        </tr>
      </thead>
      <% @datas.each do |post| %>
      <tbody>
        <tr>
          <th><%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:"50x50" %></th>
          <th><%= post.content %></th>
          <th><%= attachment_image_tag post, :image, format: 'jpeg', fallback: "no_image.jpg", size:"100x100" %></th>
        </tr>
      </tbody>
      <% end %>
    </table>
    <% end %>
  </div>
</div>
