<div class="container">
  <div class="row">
    <div class ="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>User info</h2>
      <%= form_with model: @user, local:true do |f| %>
        <div class="form-group">
          <div class="user-name">nickname</div>
          <%= f.text_field :nickname, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="user-edit-image">Image</div>
          <%= f.attachment_field :profile_image, class: "form-control-file" %>
        </div>

        <div class="form-group">
          <div class="form-body">Introduction</div>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="form-body">playstyle</div>
          <%= f.text_field :playstyle, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="form-body">likeplayer</div>
          <%= f.text_field :like_player, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="form-body">likebrand</div>
          <%= f.text_field :like_brand, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>