<div class="container">
  <div class="row">
    <div class="col-10">
      タグリスト
      <% @tag_list.each do |list| %>
        <%= link_to list.name, tag_posts_path(tag_id: list.id) %>
        <%#= list.name %>
        <%= list.posts.count %>
      <% end %>
      投稿する
      <% form_with(model: @post, url: posts_path, local: true) do |f| %>
        <%= f.text_area :content %>
        <p>スペースを入力することで複数のタグを付けることができます。</p>
        <p>例：音楽 文芸 スポーツ</p>
        <%= f.text_field :name %>
        <%= f.submit "投稿する" %>
      <% end %>
      投稿一覧
      - @posts.each do |post|
          = link_to post.content, post
    </div>
  </div>
</div>
<h2>New post</h2>
<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :content, class: "post_opinion" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image, class: "postimage_opinion" %>
    <%= f.attachment_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <p>スペースを入力することで複数のタグを付けることができます。</p>
    <p>例：音楽 文芸 スポーツ</p>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.submit 'Create Post', class: "btn btn-success col-xs-12" %>
  </div>
<% end %>