<div class="container">
  <div class="row">
    <div>
      <%= @post.user.nickname %>
      <%= @post.content %>
      <%= @post.image %>
      <% @tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
      <div id="post_<%= @post.id %>">
        <%= render partial: 'likes/like', locals: {post:@post} %>
      </div><br>
    </div>
  </div>
</div>