<!DOCTYPE html>
<html>
  <head>
    <title>Tennisite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <%= link_to image_tag("logo.png", class: "top_image", size: "80x80"), "/" %>
        <a class="navbar-brand ml-3" href="/"><strong>TenniSite</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-link text-light">welcome,<%= current_user.nickname %>!</li>
            <li><%= link_to 'mypage', user_path(current_user.id), class: 'nav-link text-light' %></li>
            <li><%= link_to 'posts', posts_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'users', users_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
          <% else %>
            <li><%= link_to 'About', about_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'login', user_session_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'signup', new_user_registration_path, class: 'nav-link text-light' %></li>
          <% end %>
          </ul>
        </div>

      </nav>
      <div class="row">
        <div class="col-3 sidebar list-group text-center">
          <% if user_signed_in? %>
          <table class="table table-dark text-light">
            <h2>Profile</h2>
            <div class="mx-auto"><%= attachment_image_tag current_user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "250x250" %></div>
            <tbody>
              <tr>
                <th>nickname</th>
                <th><%= current_user.nickname %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= current_user.introduction %></th>
              </tr>
              <tr>
                <th>playstyle</th>
                <th><%= current_user.playstyle %></th>
              </tr>
              <tr>
                <th>likeplayer</th>
                <th><%= current_user.like_player %></th>
              </tr>
              <tr>
                <th>likebrand</th>
                <th><%= current_user.like_brand %></th>
              </tr>
              <tr>
                <th>follows</th>
                <th><%= link_to current_user.followings.count , user_followings_path(current_user) %></th>
              </tr>
              <tr>
                <th>followers</th>
                <th><%= link_to current_user.followers.count, user_followers_path(current_user) %></th>
              </tr>
            </tbody>
          </table>
          <h2><%= link_to "New Post", new_post_path %></h2>
          <% end %>

        </div>

        <div class="col-7 ml-5">
          <body>
            <%= yield %>
          </body>
        </div>
      </div>
    </div>
  </div>

  </body>

</html>
