<!DOCTYPE html>
<html>
  <head>
    <title>Tennisite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <%#= link_to image_tag("logo.png", class: "top_image", size: "80x80"), "/" %>
        <%= link_to root_path, class: "top-image"do %>
         <%= image_tag asset_path("logo.png"), class: "top_image" %>
        <%end%>
          <a class="navbar-brand ml-3" href="/"><strong>TenniSite</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-link text-light">
                <strong>Welcome, <%= current_user.nickname %> !</strong>
              </li>
              <li>
                <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
                  <i class="far fa-user-circle"></i>Mypage
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-users"></i>Users
                <% end %>
              </li>
              <li>
                <%= link_to posts_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-comment-alt"></i>Posts
                <% end %>
              </li>
              <li>
                <%= link_to new_post_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-comment-medical"></i>Newpost
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i>Logout
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-link"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to user_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i>Login
                <% end %>
              </li>
              <li><%= link_to 'Signup', new_user_registration_path, class: 'nav-link text-light' %></li>
            <% end %>
            </ul>
          </div>
        </nav>
        <div class="row">
        <% if user_signed_in? %>
        <div class="col-2 sidebar list-group text-center ml-5">
          <table class="table table-dark text-light">
            <h2>Profile</h2>
            <div class="mx-auto mb-3"><%= attachment_image_tag current_user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "200x200" %></div>
            <tbody>
              <tr>
                <th>Nickname</th>
                <th><%= current_user.nickname %></th>
              </tr>
              <tr>
                <th>Introduction</th>
                <th><%= current_user.introduction %></th>
              </tr>
              <tr>
                <th>Playstyle</th>
                <th><%= current_user.playstyle %></th>
              </tr>
              <tr>
                <th>Likeplayer</th>
                <th><%= current_user.like_player %></th>
              </tr>
              <tr>
                <th>Likebrand</th>
                <th><%= current_user.like_brand %></th>
              </tr>
              <tr>
                <th>Follows</th>
                <th><%= link_to current_user.followings.count , user_followings_path(current_user) %></th>
              </tr>
              <tr>
                <th>Followers</th>
                <th><%= link_to current_user.followers.count, user_followers_path(current_user) %></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-8 ml-5">
          <body>
            <%= yield %>
          </body>
        </div>
        <% else %>
        <div class="col-8 offset-2">
          <body>
            <%= yield %>
          </body>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  </body>

</html>
